In [1]:
import pandas as pd

In [9]:
books = pd.read_csv('../data/books_list_2020_02_02_02.csv')
books

     read                    title    author         tags  rating  date
0       1                  cityboy  anderson          fun     NaN   NaN
1       1      think and grow rich      hill    self-help     NaN   NaN
2       1        the tipping point  gladwell  psychologie     NaN   NaN
3       1  la route de los angeles     fante        roman     NaN   NaN
4       1       le joueur d'échecs     zweig        roman     NaN   NaN
..    ...                      ...       ...          ...     ...   ...
516     1        mpd psycho tome 9    tajima        manga     NaN   NaN
517     1       mpd psycho tome 10    tajima        manga     NaN   NaN
518     1       mpd psycho tome 11    tajima        manga     NaN   NaN
519     1       mpd psycho tome 12    tajima        manga     NaN   NaN
520     1       mpd psycho tome 13    tajima        manga     NaN   NaN

[521 rows x 6 columns]

In [10]:
books['read'].value_counts() / len(books)

1    0.637236
0    0.362764
Name: read, dtype: float64

In [11]:
non_real_books = ['manga', 'bd', 'comics']
real_books = books[~books['tags'].isin(non_real_books)]
real_books

,read,title,author,tags,rating,date
0,1,cityboy,anderson,fun,NaN,NaN
1,1,think and grow rich,hill,self-help,NaN,NaN
2,1,the tipping point,gladwell,psychologie,NaN,NaN
3,1,la route de los angeles,fante,roman,NaN,NaN
4,1,le joueur d'échecs,zweig,roman,NaN,NaN
...,...,...,...,...,...,...
359,0,la loi de l'attraction,hicks,self-help,NaN,NaN
360,0,no more mister nice guy,glover,self-help,NaN,NaN
361,0,la capacité d'être seul,winnicott,psychologie,NaN,NaN
362,0,cracking the coding interview,mcDowell,informatique,NaN,NaN
363,1,le guide de l'homme stylé,bruyère,clothes,NaN,NaN

In [8]:
real_books['read'].value_counts() / len(real_books)

1    0.504202
0    0.495798
Name: read, dtype: float64

In [21]:
nb_reads_per_tag = books.groupby(['tags', 'read']).count()
nb_reads_per_tag

                 title  author  rating  date
tags       read
art        0         3       3       0     0
           1         1       1       0     0
bd         0         1       1       0     0
           1        26      26       0     0
biographie 0         3       3       0     0
...                ...     ...     ...   ...
séduction  1         1       1       0     0
théâtre    0         4       4       0     0
           1         2       2       0     0
voyages    0         2       2       0     0
work       0         5       5       0     0

[73 rows x 4 columns]

In [22]:
pd.set_option('display.max_rows', 100)

In [23]:
nb_reads_per_tag

                                  title  author  rating  date
tags                        read
art                         0         3       3       0     0
                            1         1       1       0     0
bd                          0         1       1       0     0
                            1        26      26       0     0
biographie                  0         3       3       0     0
                            1        13      13       0     0
chess                       0         1       1       0     0
clothes                     1         1       1       0     0
comics                      0         6       6       0     0
                            1         8       8       0     0
cuisine                     0         3       3       0     0
economy                     1         1       1       0     0
essai                       0         1       1       0     0
                            1         1       1       0     0
fantasy                     0         9       9       0     0
finance                     0         5       5       0     0
                            1         7       7       0     0
finance, work               0         1       1       0     0
                            1         1       1       0     0
fun                         0         1       1       0     0
                            1         8       8       0     0
guide                       1         2       2       0     0
histoire                    0         5       5       0     0
                            1         1       1       0     0
informatique                0         9       9       0     0
                            1         2       2       0     0
informatique, maths         0         2       2       0     0
informatique, programmation 0        15      15       0     0
                            1         2       2       0     0
informatique, work          0         2       2       0     0
                            1         1       1       0     0
manga                       0         5       5       0     0
                            1       118     118       0     0
maths                       0         2       2       0     0
                            1         1       1       0     0
philosophie                 0        11      10       0     0
                            1         5       5       0     0
philosophy                  1         1       1       0     0
politique                   1         2       2       0     0
pour les nuls               0         2       2       0     0
psychologie                 0         7       7       0     0
                            1        10      10       0     0
psychologie positive        0         4       4       0     0
                            1        12      12       0     0
psychoologie positive       0         2       2       0     0
                            1         1       1       0     0
psyschologie                0         1       1       0     0
psyschologie positive       1         1       1       0     0
pyschologie                 0         1       1       0     0
roman                       0        44      44       0     0
                            1        75      75       0     0
santé                       1         1       1       0     0
sci-fi                      0        10      10       0     0
                            1         4       4       0     0
science                     0         1       1       0     0
                            1         4       4       0     0
self-help                   0        10      10       0     0
                            1         7       7       0     0
self-help, séduction        0         1       1       0     0
sexe                        0         3       3       0     0
sociologie                  0         2       2       0     0
                            1         6       6       0     0
sport                       0         3       3       0     0
                            1         1       1       0     0
startup                     0         1       1       0     0
                            1         4       4       0     0
startup, work               1         1       1       0     0
séduction                   0         1       1       0     0
                            1         1       1       0     0
théâtre                     0         4       4       0     0
                            1         2       2       0     0
voyages                     0         2       2       0     0
work                        0         5       5       0     0